{{!-- This hbs works, replaced the 404 to change it up, make it mine.  Simply changed the image --}}
  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />
</head>

<body>
    <div class="container">
        {{>header}}
        <main>
            <img id="sadFaceImg"
                src="/static/images/sad-face.jpg"
                alt="" />
            <h1>404</h1>
            <h2>Sorry Page Not Found</h2>
        </main>
    </div>
    {{>footer}}

</body>

</html>