{{!-- This hbs works, replaced the 404 to change it up, make it mine --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
    <div class="container">
        {{> header}}
        <main>
            <img id="sadFaceImg"
                src="https://i.pinimg.com/564x/a9/55/89/a95589d30641805c8d6bd06bb06a5558.jpg"
                alt="pop up" />
            <h1>404</h1>
            <h2>Page not found</h2>
        </main>
    </div>
</body>

</html>
