{{!-- Took out hardcoded footer and replaced with HBS partial which leads to the partials folder created. 8/22--}}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>Login Page</title>
		<link href="./css/site.css" type="text/css" rel="stylesheet" />
		<link
			rel="shortcut icon"
			type="image/x-icon"
			href="./images/favicon.png"
		/>
	</head>

	<body>
		<div class="container">
			{{>navigation}}
			<main>
				<h1>Login Form</h1>
				<div class="form">
					<form action="/login" method="POST">
						<label for="username">Username</label>
						<input type="text" id="username" name="username" />

						<label for="password">Password</label>
						<input type="password" id="password" name="password" />
						<input type="submit" value="Login" />
					</form>
				</div>
			</main>
		</div>
		{{>footer}}

	</body>

</html>