{{!-- Leads to the 404 page, so not completely broken.  No errors thrown in nodemon, whew! Changed the header/footer to the partials 8/21 --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Register Page</title>
  <link href="./css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
</head>

<body>
  <div class="container">
    {{> header}}
    <main>
	<h1>Register Form</h1>
<div class="form">
    <form action='/register' method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <label for="repeatPassword">Re-Password</label>
        <input type="password" id="repeatPassword" name="repeatPassword">
        <input type="submit" value="Register">
    </form>
</div>
    </main>
  </div>
  {{> footer}}

</body>

</html>