{{!-- Corrected ... may work, have to test --}}
<body>
  <div class="container">
    {{> header}}
    <main>
      <h1>Attach a new accessory</h1>
      <div class="form">
        <h2>Rubiks Cube</h2>
        <img class="cube" src="{{cube.imagUrl}}">
        <form action='/create/accessory/{{cube._id}}' method="POST">
          <label for="accessory">Accessories</label>
          <select id="accessory" name="accessory">
            {{#each accessories}}
            <input type="submit" value="Attach">
            {{/each}}
          </select>
          <input type="submit" value="Attach">
        </form>
        {{else}}
        <h3 class="italic">This cube has all available accessories so far or there is no available at all...</h3>
        <a class="btn" href="/">Back</a>
        {{/if}}
      </div>
    </main>
  </div>
</body>