<body>
  <div class="container">
    <header>
      {{> header}}
    </header>
    <main>
      {{> cubeDetails}}

      <h2>Accessories</h2>
      {{#if accessories}}
      {{#each accessories}}
      <div class="accessory">
        <img src="{{cube.imageUrl}}" alt="stickerName">
        <h3>{{cube.name}}</h3>
        <p>{{cube.description}}</p>
      </div>
      {{/each}}
      {{/if}}
      {{#unless accessories}}
      <h3 class="italic">This cube has no accessories yet...</h3>
      {{/unless}}
    </main>
  </div>
  {{> footer}}
</body>

{{!-- this for details use cube.name (example) instead of this.name for the specific object --}}