<body>
  <div class="container">
    {{> header}}
    <main>
      <h1>Browser</h1>
      <form action="/" method="POST">
        <input type="text" required class="search" name="search" placeholder="Search...">
        <input type="number" min='1' max="6" required name="from" class="difficulty" placeholder="Difficulty from...">
        <span>-</span>
        <input type="number" min='1' max="6" required name="to" class="difficulty" placeholder="Difficulty to...">
        <input type="submit" value="search">
      </form>
      {{#each cubes}}
      {{> cube }}
      {{/each}}
    </main>
  </div>
  {{> footer}}
</body>